@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@400..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Platypi:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../estilo/idroid.otf') format('opentype');
    font-weight: normal;
}

*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --FontePrincipal: arial, verdana, helvetica, sans-serif;
    --Fonte-destaque: 'Bebas Neue', sans-serif;
    --font-android: 'Android'

}
body{
    background-color: #c5ebd6;
    font-family: var(--FontePrincipal);
}
a.externo::after{
    content: '\00A0\1F517';
}

#Cabesalho{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    text-align: center;
    min-height: 150px;
    padding-top: 40px;
}
#Cabesalho > h1{
    color: white;
    font-family: var(--Fonte-destaque);
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.281);
}
#Cabesalho > p{
    color: white;
    font-family: var(--FontePrincipal);
    font-size: 1.2em;
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.281);
}
#Links{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.397);
}
#Links a{
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.5s;
}
#Links a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
}
#Corpo{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#Corpo h1{
    color: var(--cor5);
    font-family: var(--font-android);
    font-weight: normal;
    font-size: 1.8em;
}
#Corpo h2{
    font-family: var(--font-android);
    color: var(--cor4);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
}
#Corpo img{
    width: 100%;
}
#Corpo img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}
#Corpo p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}
#Corpo strong{
    color: var(--cor4);
    font-weight: bold;
}
#Corpo a{
    background-color: var(--cor1);
    padding: 2px 6px;
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
}
#Corpo a:hover{
    text-decoration: underline;
    color: var(--cor4);
}
#Foter{
    background-color: var(--cor5);
}
#Foter > p{
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 0.8em;

}
#Foter a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
#Foter a:hover{
    text-decoration: underline;
    color: #83e1ad;
}
#aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.479);
}
#aside > ul{
    list-style-type: '\2714\00A0';
    list-style-position: inside;
    columns: 2;
    
}
#aside h3{
    background-color: #1a5c37;
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
div.Video{
    background-color: #063d1e;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}
div.Video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}