*{
    margin: 0px;
    padding: 0px;
}
body, html{
    min-height: 100vh;
}
header{
    background-color: black;
    color: white;
    margin: 0px;
    text-align: center;
}
header > h1{
    margin-top: 0px;
    padding-top: 50px;
    font-variant: small-caps;
}
header> p{
    padding-bottom: 50px;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
a:hover{
    color: blue;
    text-decoration: underline
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}
section.normal{
    background-color: white;
}
section.imagem{
    background-color: rgb(46, 46, 46);
    color: white;
}
section.imagem > p{
    width: 400px;
    background-color: rgba(0, 0, 0, 0.281);
}
footer > p{
    margin: 0px;
    background-color: black;
    color: white;
    padding: 8px;
    text-align: center;
}